// gradient
$login-bg-top: radial-gradient(50% 50% at 50% 50%, rgba(113, 117, 216, 1) 0%, rgba(5, 12, 66, 1) 100%);
$login-bg-bottom: linear-gradient(180deg, rgba(5, 12, 66, 0) 0%, #050C42 100%);
// color
$primary: #7175D8;
$secondery: #4285F4;
$gray: #757476;
$card-bg: #ECEFF4;
$light-black: #293438;
$text-white: #fff;
$light-white: #F1F2FF;
$off-white: #F8F9FB;
$text-black: #000;
$soft-black: #050C42;
$deep-blue: #333683;
$soft-green: #9ED871;
$off-ball: #9A9CAB;
$toggle-off-bg: #E9E9E9;
$danger: #E43232;
$card-form-bg: rgba(70, 128, 255, 0.25);
$card-form-text: #4680FF;
// rgba
$border-primary-50: rgba(113, 117, 216, 0.5);
$user-bg: rgba(113, 117, 216, 0.25);
$white-border: rgba(255, 255, 255, 0.75);
$white-border-25: rgba(255, 255, 255, 0.25);
$ball-border:rgba(127, 131, 220, 0.25);
$card-form-edit: rgba(70, 128, 255, 0.75);
// shadow
$primary-shadow: 0px 4px 4px rgba(113, 117, 216, 0.25);
$ball-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);